.col-sm-3.section
  = link_to genre_path(genre), class: 'genre__card' do
    .card.genre__card
      .card-block.text-xs-center
        %h3.card-title.genre__name
          = genre.name
        %h4.cart-subtitle.text-muted.genre__book-count
          = genre.books.size
        %p.card-text.genre__description
          = genre.description
