.row
  .col-sm-12
    %h1
      = @shelf.name
.row
  .col-sm-12
    .row
      .col-sm-12
        = @shelf.description
.row
  .col-sm-12
    %h2 Books on the shelf
    - @shelf.books.each do |book|
      = render partial: 'books/book_card', locals: { book: book }
