.row.answer__field
  .col-sm-1.answer__buttons
    = fa_icon 'plus', class: 'answer__button-add', onclick: 'window.addField()'
    = fa_icon 'remove', class: 'answer__button-remove', onclick: 'window.removeField(this)'
  .col-sm-7
    .form-group
      = f.input :answer, label: false, input_html: { placeholder: 'Answer' }
  .col-sm-4
    .form-group
      = f.input :part_id, label: false, input_html: { placeholder: 'Part' }
