.row
  .col-sm-6.offset-sm-3
    Welcome to WebBooks - the first platform for creating brand new type of books.
    %h3.home__header What is WebBook?
    Basically, webbook is a book created and read through the Web. It's the next step in the books evolution. It contains following:
    %ul.home__content
      %li
        traditional
        %strong book
        in its digital form
      %li
        %strong gamebooks
        \- books where you (as a reader) can choose what happens next and you (as a writer) can define multiple plot lines
      %li
        %strong multimedia
        \- images, movies, whatever you can dream of to make your reading experience better.
