%h3 Your library
= link_to 'Add new shelf', new_shelf_path, class: 'btn btn-outline-primary'
- current_user.shelves.each do |shelf|
  .row
    .col-sm-4.section
      .card
        = image_tag 'placeholder.png', class: 'card-img-top card-image'
        .card-block.text-xs-center
          %h3.card-title
            = shelf.name
          %p.card-text
            = shelf.description
