%div.row
  %div.col-sm-12
    - if user_signed_in?
      = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-lg'
    - else
      = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
      = link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary btn-lg'
