%div.row
  %div.col-sm-4.section
    %h3 Books
    = link_to 'Create new book', new_book_path, class: 'btn btn-outline-primary btn-block'
    = link_to 'Show books', books_path, class: 'btn btn-outline-primary btn-block'
  %div.col-sm-4.section
    %h3 Section 2
  %div.col-sm-4.section
    %h3 Section 3
