%div.container
  %div.row
    %div.col-sm-12
      %h1 Webbooks
  %div.row
    %div.col-sm-12
      = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
      = link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary btn-lg'
