.row
  .col.sm-12
    %h2 Browse books
.row
  .col.sm-12
    %h3 Top books
  .row
  - @books[:best].each do |book|
    = render partial: 'book_card', locals: { book: book }
.row
  .col.sm-12
    %h3 Latest books
  .row
  - @books[:latest].each do |book|
    = render partial: 'book_card', locals: { book: book }
