.nested_fields.row.answer__field
  .col-sm-7
    .form-group.field
      = f.input :answer, label: false, input_html: { placeholder: 'Answer' }
  .col-sm-4
    .form-group.field
      = f.input :part_id, collection: @parts, label_method: :title, value_method: :id, label: false, include_blank: '(select where to redirect)'
  .col-sm-1.answer__buttons.links
    = link_to_remove_association fa_icon('remove'), f, { wrapper_class: 'answer__field' }
