@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Raleway:200,200i,400,700,700i&subset=latin-ext';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  font-weight: 200;
}
