// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common/variables';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Raleway:200,200i,400,700,700i&subset=latin-ext';

body {
  &.webbook {
    background-color: rgb(205, 205, 205);
  }

  .read__container {
    margin-top: 25px;
    min-height: 100vh;
  }

  .book__details li {
    color: white;
    line-height: 40px;
    margin-left: 25%;
    text-align: center;
    &.book__details-title {
      font-size: 18px;
      font-weight: 600;
    }
    &.book__details-subtitle {
      font-size: 14px;
      font-weight: 100;
    }
  }

  .chapter__title, .part__title {
    color: $read-grey;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 25px;
  }

  .chapter__title {
    font-size: 60pt;
    font-weight: 700;
  }

  .part__title {
    font-size: 30pt;
    font-weight: 400;
  }

  .part__content {
    color: $read-grey;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 200;
  }

  .decision-point__question, .decision-point__answer {
    text-align: center;
  }

  .decision-point__question {
    border-top: solid $read-grey 1px;
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    font-weight: 400;
    margin-top: 15px;
  }

  .decision-point__answer a {
    color: $read-grey;
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: 200;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .book__cover {
    max-width: 100%;
  }

  // This part below is important due to overwrite some strange default tinymce styles

  .part__content p {
    color: $read-grey !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 18pt !important;
    font-weight: 200 !important;
  }
}
