// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common/googlefonts';

.card-image {
  max-width: 100%
}

.navbar {
  font-size: 14pt;
}

h1, h2, h3 {
  margin-top: 25px;
  font-family: 'Playfair Display';
  font-weight: 700;
  margin-bottom: 10px;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28pt;
}

.checkbox {
  margin-right: 15px;
  input {
    margin-right: 5px;
  }
}

abbr {
  border-bottom: none !important;
  font-weight: 700;
  text-decoration: none !important;
}

div {
  font-size: 14pt;
}

ul.home__content {
  li {
    margin-top: 10px;
  }
}

#error_explanation {
  h2 {
    font-size: 24px;
  }
}
